; EditorConfig is awesome: http://EditorConfig.org

; This is top-most EditorConfig file (not inherited)
root = true

; General settings for everything
[*]
charset = utf-8
indent_style = space
indent_size = 2
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
